.clientes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8%;
    background-color: $gris_claro;
    @include desktop{
        align-items:flex-start;
        //height: 1000px;
    }
    
    .titulo2{
        @include format_letra(black, 2.3rem, bold);
        .punto{
            @include format_letra($gold1, 2.3rem, bold); 
        }
        @include desktop{
            @include format_letra(black, 5.3rem, bold);
            .punto{
                @include format_letra($gold1, 5.3rem, bold); 
            }  
        }
    }
    .p4{
        padding-top: 2%;
        @include format_letra(black, 1.8rem, normal);
        text-align: center;
        @include desktop{
            padding-top: 1%;
            @include format_letra(black, 2.8rem, normal);
        }
    }

    .clientes_primary{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 8%;
        @include desktop{
            flex-direction: row;
            //justify-content:space-around;
            padding: 1% 5%;
            margin-left: -7%;
        }

        .cliente1{
            @extend %format_cliente;
            @include desktop{
                padding: 20px;
                height: 720px;
                width: 520px;
                margin: 1%;
            }
            background-image: url("../../src/assets/img/first-person.jpg");
            background-size: cover;
            .etiqueta{
                @extend %format_etiqueta;
                @include desktop{
                    width: 450px;
                    .titulo5{
                        padding-left: 40px;
                        @include format_letra(white, 3rem, bold);
                    }

                    .p5{
                        padding-top: 2%;
                        padding-left: 40px;
                        @include format_letra($gray, 2rem, normal);
                    }
                }  
            }
            
        }
        .cliente2{
            @extend %format_cliente;
            @include desktop{
                padding: 20px;
                height: 720px;
                width: 520px;
                margin: 1%;
            }
            background-image: url("../../src/assets/img/second-person.jpg");
            background-size: cover;
            .etiqueta{
                @extend %format_etiqueta;
                @include desktop{
                    width: 450px;
                    .titulo5{
                        padding-left: 40px;
                        @include format_letra(white, 3rem, bold);
                    }

                    .p5{
                        padding-top: 2%;
                        padding-left: 40px;
                        @include format_letra($gray, 2rem, normal);
                    }
                }  
            }
        }
        .google{
            display: flex;
            flex-direction: column;
            background: linear-gradient(180deg, $black2 0%, $black1 100%);
            padding-top: 50px;
            padding-left: 20px;
            border-radius: 8px;
            height: 620px;
            width: 350px;
            box-shadow: 0 0 6px $color_shadow;

            @include desktop{
                margin: 1%;
                height: 720px;
                width: 520px;  
            }
            
            
            .google_logo_2{
                margin-left: -50%;
                @include desktop{
                    width: 60%;
                    margin-left: 5%;
                }
            }
            .p6{
                padding-top: 10%;
                @include format_letra(white, 2.5rem, lighter);
                @include desktop{
                    @include format_letra(white, 3.2rem, lighter);
                }
            }
            .etiqueta{
                display: flex;
                margin-top: 50%;
                padding-left: 20px;
                margin-bottom: -80%;
                height: 80px;
                width: 320px;
                .miniatura_cliente{     
                    width: 20%;
                    padding-top:2%;
                    .foto_miniatura{
                        border-radius: 100%;
                        height: 70%;
                        width: 75%;
                    }
                }
                .texto-etiqueta{
                    .titulo5{
                        //padding-left: 10px;
                        @include format_letra(white, 2.8rem, bold);
                    }
            
                    .p5{
                        padding-top: 2%;
                        //padding-left: 10px;
                        @include format_letra($gray, 1.5rem, normal);
                    } 
                }
                @include desktop{
                    margin-top: 30%;
                    .miniatura_cliente{     
                        padding-top:2%;
                        .foto_miniatura{
                            border-radius: 100%;
                            height: 100px;
                            width: 100px;
                        }
                    }
                    .texto-etiqueta{
                        .titulo5{
                            padding-left: 62px;
                            padding-top: 20px;
                            @include format_letra(white, 2.8rem, bold);
                        }
                
                        .p5{
                            padding-top: 2%;
                            padding-left: 62px;
                            @include format_letra($gray, 1.5rem, normal);
                        } 
                    }
                }
            }
        }
    }
}

