footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8%;
    background-color:$gris_claro;
    @include desktop{
        width: 100%;
    }
    .primary_footer{
        @include desktop{
            display: flex;
            flex-direction: row-reverse;
            width: 100%;
            
        }
    }
}
.trabaja{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
    .titulo7{
        @include format_letra(black, 2.3rem, bold);
        text-align: center;
        @include desktop{
            @include format_letra(black, 3.3rem, bold);
        }
    }
    .input-email{
        margin: 2% 0;
        @extend %input_format;
        @include desktop{
            margin-top: 6%;
            width: 58.6rem;
            height: 4.6rem;   
        }
        
    }
    .btn3{
        margin-top: 2%;
        @extend %boton_gen_gris;
        @include desktop{
            font-size: 2rem;
            height: 50px;
            width: 58.6rem;  
        }
    }
    .redes{
        width: 100%;
        display: flex;
        margin: 2%;
        //margin-left: -70px;
        padding:2%;
        .p10{
            //padding-top: 2%;
            width: 31%;
            padding-right: 3%;
            margin-left: 5%;
            @include format_letra($black2, 1.3rem, bold);
        }
        .redes2{
            margin: 2%;
            padding-right: 3%;
            width: 100%;
            display: flex;
            justify-content: space-between;
            
        }
        @include desktop{
           .p10{
            margin-left: 10%;
            @include format_letra($black2, 2rem, bold);
           }
           .redes2{
            margin: -5%;
            margin-top: 0%;
            padding: 0%;
            justify-content: flex-start;
            .iconito{
                margin: 0 3%;
            }
            
        }
        }
    }
}
.App{
    margin-top: 20%;
    margin-bottom: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include desktop{
        margin-top: 0%;
    }
    
    .titulo8{
        @include format_letra(black, 2.3rem, bold);
        text-align: center;
        @include desktop{
            @include format_letra(black, 3.3rem, bold);
        }
    }
    .Stores{
        width: 80%;
        display: flex;
        justify-content: space-between;
        margin: 5%;
        .App-store{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 2%;
            padding: 2%;
            border-radius: 8px;
            border: 1px solid $black2;
            
        }
        .Play-store{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 2%;
            padding: 2%;
            border-radius: 8px;
            border: 1px solid $black2;
        }
        @include desktop{
            width: 100%;
            justify-content: space-around;
            .App-store{
                margin: 2%;
                padding: 2% 10%;                
            }
            .Play-store{
                margin: 2%;
                padding: 2% 10%;                
            }
        }
    }
    .p11{
        padding-top: 1%;
        @include format_letra($black2, 1.3rem, bold);
        @include desktop{
            @include format_letra($black2, 1.8rem, bold);
            margin-left: -33%;
        }
    }
    .links{
        width: 100%;
        padding: 2%;
        display:flex;
        margin-left: 8%;
        .Politica-privacidad, .Terminos{
            padding-right: 2%;
            text-decoration: none;
            color: $black2;
            font-size: 1.3rem;
            font-weight: bold;
            &:hover {
                color: $gold1;
            }
            @include desktop{
                margin-left: -1%;
                font-size: 1.8rem;
            }
        }
    }
}

.Secondary-footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include desktop{
        flex-direction: row;
        width: 120%;
        height: 30px;
    }
}

.copyright, .mail, .ubi{
    width: 350px;
    height: 200px;
    background-color: $black2;
    text-align: center;
    padding-top: 20%;
    .titulo9{
        @include format_letra(white, 2.3rem, bold);
        text-align: center;
        padding-top: 2%;
    }
    @include desktop{
        padding-top: 4%;
        width: 25%;
        height: 290px;
        @include format_letra(white, 6.3rem, bold);
    }
}
.contacto{
    width: 350px;
    height: 200px;
    background-color: $gold1;
    text-align: center;
    padding-top: 20%;
    .titulo9{
        @include format_letra($black2, 2.3rem, bold);
        text-align: center;
        padding-top: 2%;
    }
    @include desktop{
        padding-top: 4%;
        width: 25%;
        height: 290px;
        @include format_letra(white, 6.3rem, bold);
    }
}










