.Formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8%;
    background-color: white;
    @include desktop{
        align-items:flex-start;
        height: 1200px;
    }
    
    .titulo2{
        @include format_letra(black, 2.3rem, bold);
        text-align: center;
        .punto{
            @include format_letra($gold1, 2.3rem, bold); 
        }
        @include desktop{
            padding: 0 10%;
            @include format_letra(black, 5.3rem, bold);
            .punto{
                @include format_letra($gold1, 5.3rem, bold); 
            }  
        }
    }
    .p4{
        padding-top: 2%;
        @include format_letra(black, 1.8rem, normal);
        text-align: justify;
        @include desktop{
            padding-top: 1%;
            padding-bottom: 2%;
            @include format_letra(black, 2.8rem, normal);
        }
    }

    .preformulario{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 8%;
        @include desktop{
            flex-direction: row;
            align-items: center;
            padding: 1% 8%;
        }       

        .tic{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding-top: 10%;
            .check{
                margin-left: -50px;
            }
            .p6{
                padding-left: 5px;
                @include format_letra(black, 2.3rem, bold);
            }
            .p7{
                padding-top: 2%;
                padding-left: 5px;
                @include format_letra(black, 2.3rem, normal);
            }
            @include desktop{
                padding-top: 0%;
                border-right: 3px solid black;
    
            }
        }

    }

    .formulario{
        margin-top: 15%;
        margin-left: -1 0px;
        .titulo6{
            padding-bottom: 2%;
            @include format_letra(black, 2.3rem, bold);
        }
        .input-email, .input-usuario, .input-pass{
            margin: 2% 0;
            @extend %input_format;
            @include desktop{
                width: 68.6rem;
                height: 4rem;
                border-radius: 5px;
                border-color: 0.5px solid $black2;
                padding: 2%;
            }
            
        }
        .p8{
            @include format_letra(black, 1.6rem, bold);
        }
        .p9{
            @include format_letra(black, 1.2rem, bold);
        }
        .btn3{
            margin-top: 2%;
            @extend %boton_gen_gris;
            @include desktop{
                font-size: 2.8rem;
                height: 60px;
                width: 68.6rem;
            }
        }
        @include desktop{
            margin-top: 8%;
            margin-left: 28%;
            .titulo6{
                padding-bottom: 2%;
                @include format_letra(black, 4.3rem, bold);
            }
            .p8{
                @include format_letra(black, 3rem, bold);
            }
            .p9{
                @include format_letra(black, 2rem, bold);
            }
        }

    }
}