.logo {
    height: 50px;
    display: flex;
    justify-content: center;
    padding-top: 2%;
    @include desktop{
        height: 100px;
        display: flex;
        justify-content: flex-start;
        padding-top: 0.5%;
    }

  }
  
  nav.menu {
    padding: 8px;
    padding-top: 12px;
    color: white;
    display: flex;
    justify-content: center;
    @include desktop{
        margin-left: 35%;
        margin-top:2%;
        padding-right: 8%;      
    }
    ul {
        list-style-type: none;
        overflow: hidden;
        display: flex;
        li {
            padding: 7px;
            height: 100%;
            display: inline;
            &:hover {
                color: $gold1;
            }
            a {
                color: inherit;
                text-align: center;
                text-decoration: none;
            }
            @include desktop{
                font-size: 2rem;        
            }
          }
      }
  }
  
  header.main-header {
    width: 100%;
    min-height: 120vh; /*Para que se adapte al alto de la pantalla a medida que vaya navegando por la web*/
    background: linear-gradient(180deg, $black2 0%, $black1 100%);
    .primary-header {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        height: 90px;
        @include desktop{
           height: 120px;
           display: flex;
           justify-content: space-between;
           padding-top: 4px;
           padding-left: 70px;
           padding-right: 80px;
        }
    }
    .secondary-header {
        padding-top: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include desktop{
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            padding: 150px;
            padding-left: 80px;
            padding-right: 80px;
        }
        .mockup{
            display: flex;
            justify-content: space-around;
            @include desktop{
                justify-content: flex-end;
                width: 70%;
            }
        }
        .img-mockup {
            width: 100%;
            transform: translatey(0px);
            animation: float 6s ease-in-out infinite;
            @include desktop{
                width: 90%;
            }
           }
        .Experiencia-digital {
            @include desktop{
            }
            .titulo1{
                padding-top: 15%;
                @include format_letra(white, 2.6rem, lighter);
                .punto{
                    @include format_letra($gold1, 2.6rem, bold);
                }
                @include desktop{
                    @include format_letra(white, 7.6rem, lighter);
                    
                    .punto{
                        @include format_letra($gold1, 7.6rem, bold);
                    }
                }
            }
            .p1{
                padding-top: 2%;
                @include format_letra($gray, 1.5rem, normal);
                @include desktop{
                    @include format_letra($gray, 2.5rem, normal);
                }
            }
            .boton-agenda {
                display: flex;
                justify-content: center;
                padding-top: 8%;
                @include desktop{
                    padding-top: 5%;
                    justify-content: left;
                }
                .btn1{
                    @extend %boton_gen;
                    @include desktop{
                        font-size: 2rem;
                        height: 60px;
                        width: 250px;
                    }
                }
                
            }
        }
        
    }
  }
  
 

  