.proyectos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8%;
    background-color: white;
    @include desktop{
        align-items:flex-start;
        height: 1300px;
    }
    
    .titulo2{
        @include format_letra(black, 2.3rem, bold);
        .punto{
            @include format_letra($gold1, 2.3rem, bold); 
        }
        @include desktop{
            @include format_letra(black, 5.3rem, bold);
            .punto{
                @include format_letra($gold1, 5.3rem, bold); 
            }  
        }
    }
    .p4{
        padding-top: 2%;
        @include format_letra(black, 1.8rem, normal);
        text-align: center;
        @include desktop{
            padding-top: 1%;
            @include format_letra(black, 2.8rem, normal);
        }
    }

    .proyecto1{
        @include desktop{
            margin-bottom: -8%;
        }
    }

    .proyecto1, .proyecto2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 8%;
        @include desktop{
            flex-direction: row;
            justify-content:center;
            padding: 1% 5%;
            margin-left: -5%;
        }

    
        .proyecto1_1,
        .proyecto2_1 {
            @extend %format_proyecto_1;
            @include desktop{
                padding: 20px;
                height: 350px;
                width: 500px;
                
                .titulo3{
                    padding-top: 1%;
                    @include format_letra(white, 4.6rem, bold);
                    .punto{
                        @include format_letra($gold1, 4.6rem, bold); 
                    }
                }
            
                .p2{
                    padding-top: 2%;
                    @include format_letra($gold1, 2.5rem, bold);
                }
                
            
                .p3{
                    padding-top: 1%;
                    @include format_letra($gray2, 2rem, normal);
                }
            
            } 
        }

        .boton-serv {
            padding-top: 20px;
            @include desktop{
                display: flex;
                justify-content: center;
            }
            .btn2{
                @extend %boton_gen;
                height: 40px;
                width: 300px;
                @include desktop{
                    font-size: 2.3rem;
                    height: 45px;
                    width: 400px;
                }
            }
        }

        .proyecto1_2{
            @extend %format_proyecto_2;
            background-image: url("../../src/assets/img/background1.jpg");
            background-size: cover;
            @include desktop{
                padding: 2px;
                height: 380px;
                width: 1000px;
                margin: 5%;

                .titulo4{
                    padding-top: 30%;
                    padding-left: 2%;
                    text-align: left;
                    @include format_letra(white, 3.3rem, bold);
                }
                .p4{
                    padding-top: 2%;
                    padding-left: 2%;
                    text-align: left;
                    @include format_letra(white, 2.5rem, normal);
                }
            }
            
        }
        .proyecto2_2{
            @extend %format_proyecto_2;
            background-image: url("../../src/assets/img/background2.jpg");
            background-size: cover;
            @include desktop{
                padding: 2px;
                height: 380px;
                width: 1000px;
                margin: 5%;

                .titulo4{
                    padding-top: 30%;
                    padding-left: 2%;
                    text-align: left;
                    @include format_letra(white, 3.3rem, bold);
                }
                .p4{
                    padding-top: 2%;
                    padding-left: 2%;
                    text-align: left;
                    @include format_letra(white, 2.5rem, normal);
                }
            }
        }
    }

}

