.Servicios1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8%;
    background-color: $gris_claro;
    @include desktop{
        align-items:flex-start;
    }
    
    .titulo2{
        @include format_letra(black, 2.3rem, bold);
        .punto{
            @include format_letra($gold1, 2.3rem, bold); 
        }
        @include desktop{
            @include format_letra(black, 5.3rem, bold);
            .punto{
                @include format_letra($gold1, 5.3rem, bold); 
            }  
        }
    }
    .p4{
        padding-top: 2%;
        text-align: center;
        @include format_letra(black, 1.8rem, normal);
        @include desktop{
            padding-top: 1%;
            @include format_letra(black, 2.8rem, normal);
        }
    }
    .Servicios2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 8%;

        @include desktop{
            flex-direction: row;
            justify-content:center;
            padding: 1% 5%;
            margin-left: -7%;
        }

        .serv1,
        .serv2,
        .serv3 {
            @extend %format_servicio;
            @include desktop{
                height: 700px;
                width: 520px;
                margin: 2%;
                padding-left: 2%;

                .p2{
                    padding-top: 2%;
                    
                    @include format_letra($gold1, 2.5rem, bold);
                }
                .titulo3{
                    padding-top: 1%;
                    @include format_letra(white, 4.6rem, bold);
                    .punto{
                        @include format_letra($gold1, 4.6rem, bold); 
                    }
                }

                .p3{
                    padding-top: 1%;
                    @include format_letra($gray2, 2rem, bold);
                }
            }
        }

        .boton-serv {
            padding-top: 20px;
            //padding-left: 2%;
            @include desktop{
                display: flex;
                justify-content: center;
            }
            .btn2{
                @extend %boton_gen;
                height: 40px;
                width: 300px;
                @include desktop{
                    font-size: 2.3rem;
                    height: 50px;
                    width: 400px;
                }
            }
        }
        .img-serv{
            height: 320px;
            width: 350px;
            margin-left: 8px;
            margin-bottom: 8px;
            border-radius: 8px;
            object-fit: cover;
            @include desktop{
                width: 450px;
                margin-left: 1%;
            }
        }

    }     

}

