/*Clases para dar formato a determinadas estructuras que se repiten en la página para poder ser heredadas*/

%boton_gen{
    background: linear-gradient(180deg, #f7ce90 0%, #f4bd76 100%);
    border-radius: 8px;
    color: $black2;
    font-size: 1.8rem;
    font-weight: bold;
    border: none;
    height: 50px;
    width: 220px;
}

%boton_gen_gris{
    background: linear-gradient(180deg, #161615 0%, #1d1d1c 100%);
    border-radius: 8px;
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    border: none;
    height: 50px;
    width: 28.6rem;
}

%format_servicio{
    background: linear-gradient(180deg, $black2 0%, $black1 100%);
    padding: 20px;
    border-radius: 8px;
    height: 620px;
    width: 350px;
    margin: 5%;
    box-shadow: 0 0 6px $color_shadow;
    overflow: hidden;

    .p2{
        padding-top: 2%;
        @include format_letra($gold1, 1.5rem, bold);
    }
    .titulo3{
        padding-top: 1%;
        @include format_letra(white, 3.6rem, bold);
        .punto{
            @include format_letra($gold1, 3.6rem, bold); 
        }
    }

    .p3{
        padding-top: 1%;
        @include format_letra($gray2, 1.5rem, bold);
    }

}

%format_proyecto_1{
    background: linear-gradient(180deg, $black2 0%, $black1 100%);
    padding: 20px;
    border-radius: 8px;
    height: 280px;
    width: 350px;
    box-shadow: 0 0 6px $color_shadow;
    overflow: hidden;

    .titulo3{
        padding-top: 1%;
        @include format_letra(white, 3.6rem, bold);
        .punto{
            @include format_letra($gold1, 3.6rem, bold); 
        }
    }

    .p2{
        padding-top: 2%;
        @include format_letra($gold1, 1.5rem, bold);
    }
    

    .p3{
        padding-top: 1%;
        @include format_letra($gray2, 1.5rem, normal);
    }

}

%format_proyecto_2{
    padding: 20px;
    border-radius: 8px;
    height: 300px;
    width: 350px;
    margin: 5%;
    box-shadow: 0 0 6px $color_shadow;
    overflow: hidden;

    
    .titulo4{
        padding-top: 60%;
        text-align: left;
        @include format_letra(white, 2.3rem, bold);
    }
    .p4{
        padding-top: 2%;
        text-align: left;
        @include format_letra(white, 1.5rem, normal);
    }

}

%format_cliente{
    display: flex;
    align-items: flex-end;
    padding: 20px;
    border-radius: 8px;
    height: 620px;
    width: 350px;
    margin: 5%;
    box-shadow: 0 0 6px $color_shadow;
    //overflow: hidden;

}

%format_etiqueta{
    display: flex;
    align-items: center;
    background: linear-gradient(180deg, $black2 0%, $black1 100%);
    padding-left: 20px;
    border-radius: 8px;
    height: 80px;
    width: 320px;
    box-shadow: 0 0 6px $color_shadow;
    overflow: hidden;

    .titulo5{
        padding-left: 10px;
        @include format_letra(white, 2.8rem, bold);
    }

    .p5{
        padding-top: 2%;
        padding-left: 10px;
        @include format_letra($gray, 1.5rem, normal);
    }

}

%input_format{
        width: 28.6rem;
        height: 2.6rem;
        border-radius: 5px;
        border-color: 0.5px solid $black2;
        padding: 2%;
}
