
/*Colores*/
$gold1: #F4BD76;
$gold2: #F6CD8F;
$gray: #ffffff80;
$gray2: #f7d9d990;
$black1: #1A1B1F;
$black2: #30353B;
$shadow: 0 8px 8px;
$color_shadow: #00000033;
$gris_claro: rgb(244, 246, 247);


/*Fonts*/
//$root-font-size: 10px;
$root-font-size: 62.5%; /*1rem = 16px;  62.5% de 16px es 10px -> 1.6rem = 16px */

// Breakpoints
$sphone-min-size: 360px; //Galaxy s5, Motog4
$stablet-min-size:500px; //esta en principio no la voy a hacer
$btablet-min-size: 700px;
$desktop-min-size: 900px;
